In [1]:
# Module Imports
import mariadb
import sys

In [5]:
# https://mariadb.com/resources/blog/how-to-connect-python-programs-to-mariadb/


# Module Imports
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1",                    # 10.177.124.185,  localhost , 127.0.0.1     
        #host="10.177.124.35",                    # 10.177.124.35,  localhost , 127.0.0.1    FS23
        port=3306, 
        database="AIRQUALITY"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [6]:
cur

In [11]:

cur.execute('''CREATE TABLE IF NOT EXISTS tbl_geolocation (id INT AUTO_INCREMENT PRIMARY KEY, country VARCHAR(255), coordinates VARCHAR(255), 
elevation FLOAT(6,2), continent VARCHAR(255), countrycode VARCHAR(255))''')

In [16]:
# adding data
cur.execute("""INSERT INTO tbl_geolocation (country,coordinates,elevation,continent,countrycode) VALUES ("Belarus","53.5318804783,28.033566395", 170.0,"Europe","BLR")""")

In [18]:
cur.execute("SELECT country,coordinates,elevation,continent,countrycode FROM tbl_geolocation ")

In [5]:
# Print Result-set
for (name, vorname, plzort) in cur:
    print(f"First Name: {name}, Last Name: {vorname}, City: {plzort}")

First Name: Muster, Last Name: Max, City: 6003 Luzern
First Name: Huber, Last Name: Anna, City: 8000 Zürich
First Name: Huber, Last Name: Max, City: 3000 Bern
First Name: Affolter, Last Name: Giuliana, City: 4000 Basel
First Name: Schuhmacher, Last Name: Michael, City: 1200 Genf
First Name: Schuhmacher, Last Name: Manuela, City: 7000 Chur
First Name: Schuhmacher, Last Name: Hubert, City: 7000 Chur
First Name: Graf, Last Name: Guido, City: 6100 Luzern

In [6]:
# adding data
cur.execute("INSERT INTO tbl_kontakt (name,vorname, plzort) VALUES (?, ?, ?)", 
    ("Engler", "Paulina", "6000 Luzern"))

In [7]:
cur.execute("SELECT name, vorname, plzort FROM tbl_kontakt ")
# Print Result-set
for (name, vorname, plzort) in cur:
    print(f"First Name: {name}, Last Name: {vorname}, City: {plzort}")

First Name: Muster, Last Name: Max, City: 6003 Luzern
First Name: Huber, Last Name: Anna, City: 8000 Zürich
First Name: Huber, Last Name: Max, City: 3000 Bern
First Name: Affolter, Last Name: Giuliana, City: 4000 Basel
First Name: Schuhmacher, Last Name: Michael, City: 1200 Genf
First Name: Schuhmacher, Last Name: Manuela, City: 7000 Chur
First Name: Schuhmacher, Last Name: Hubert, City: 7000 Chur
First Name: Graf, Last Name: Guido, City: 6100 Luzern
First Name: Engler, Last Name: Paulina, City: 6000 Luzern

In [9]:
# better style: 
# For any of your SQL actions (querying, updating, deleting, or inserting records) you should try to trap errors:

try:
    cur.execute("some MariaDB query")    # command will create an error!!!!
except mariadb.Error as e:
    print(f"Error: {e}")

Error: You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'some MariaDB query' at line 1

In [10]:
# never forget to close the connection:

# Close Connection
conn.close()