In [22]:
# Load AirQuality and Weather-GDP data from the CSV files

import pandas as pd

df_airquality = pd.read_csv("Airquality_RenewableEnergy_data.csv")

df_weather = pd.read_csv("weather_gdp_data.csv")

print(df_airquality.head())

df_airquality.shape

   Year         Country  Population  Populated Area [km2]  \
0  2018         Austria     8822183                 43050
1  2018         Croatia     4105440                 23884
2  2018          Cyprus     1197024                  6504
3  2018  Czech Republic    10610014                 44196
4  2018         Denmark     5781155                 37704

   Air Pollution Average [ug/m3] NO2  Air Pollution Average [ug/m3] O3  \
0                                9.5                            7867.9
1                                6.4                            6583.1
2                                7.8                            9265.6
3                                9.4                            7713.3
4                                4.3                            4074.9

   Air Pollution Average [ug/m3] PM10  Air Pollution Average [ug/m3] PM2.5  \
0                                15.4                                 11.2
1                                18.6                                 13.0
2                                26.4                                 12.6
3                                20.9                                 15.4
4                                15.0                                  8.8

   Air Pollution Population Weighted Average [ug/m3] NO2  \
0                                               17.7
1                                               13.9
2                                               23.5
3                                               15.5
4                                                9.9

   Air Pollution Population Weighted Average [ug/m3] O3  ...  \
0                                             6730.6     ...
1                                             6329.0     ...
2                                             6834.8     ...
3                                             6945.7     ...
4                                             3863.7     ...

   Premature Deaths O3  Premature Deaths PM10 Premature Deaths PM2.5  \
0                619.0                8799.34                 5001.0
1                369.0                8799.34                 4696.0
2                 59.0                8799.34                  526.0
3                870.0                8799.34                10305.0
4                238.0                8799.34                 2206.0

  Years Of Life Lost NO2 Years Of Life Lost O3 Years Of Life Lost PM10  \
0                12796.0                6756.0                97366.28
1                 4778.0                3945.0                97366.28
2                 2215.0                 687.0                97366.28
3                13158.0                9967.0                97366.28
4                 2049.0                2668.0                97366.28

   Years Of Life Lost PM2.5  RenewableData  Average Renewable Data  \
0                   52145.0            338                   337.0
1                   48568.0            280                   282.5
2                    5769.0            139                   138.5
3                  114509.0            152                   157.0
4                   23400.0            354                   363.0

   Rank by Average
0               13
1               19
2               47
3               43
4               11

[5 rows x 31 columns]

(52, 31)

In [21]:
print(df_weather.shape)
df_weather

(46, 8)

,Country,Country Code,New Rank,IMF,WB,Mean GDP,Temperature,Wind Speed
0,Luxembourg,LU,1,138772.0,114705.0,126738.5,6.138889,3.886667
1,Switzerland,CH,2,94696.0,81994.0,88345.0,6.074444,3.655556
2,Ireland,IE,3,94556.0,78661.0,86608.5,7.353333,6.114444
3,Norway,NO,4,81995.0,75420.0,78707.5,-2.806667,1.833333
4,Iceland,IS,5,72231.0,66945.0,69588.0,4.365556,5.601111
5,Denmark,DK,6,67218.0,60170.0,63694.0,4.455556,7.658889
6,Netherlands,NL,7,61516.0,52331.0,56923.5,6.765556,2.751111
7,Sweden,SE,8,58977.0,51615.0,55296.0,1.065556,1.943333
8,Austria,AT,9,53859.0,55060.0,54459.5,6.873333,7.740000
9,Finland,FI,10,56391.0,48783.0,52587.0,-2.911111,3.741111
10,San Marino,SM,11,51753.0,NaN,51753.0,11.865556,2.286667
11,Germany,DE,12,53988.0,46445.0,50216.5,4.611111,5.890000
12,Belgium,BE,13,50103.0,46421.0,48262.0,6.786667,2.286667
13,United Kingdom,GB,14,46344.0,42330.0,44337.0,6.662222,2.744444
14,France,FR,15,44995.0,40494.0,42744.5,9.195556,5.143333
15,Italy,IT,16,34997.0,33228.0,34112.5,17.423333,3.658889
16,Malta,MT,17,31576.0,29821.0,30698.5,21.744444,6.745556
17,Spain,ES,18,30996.0,29600.0,30298.0,11.830000,2.627778
18,Cyprus,CY,19,29551.0,27858.0,28704.5,22.071111,1.771111
19,Slovenia,SI,20,28104.0,25946.0,27025.0,9.851111,2.801111
20,Estonia,EE,21,26470.0,23723.0,25096.5,0.095556,1.886667
21,Czech Republic,CZ,22,25732.0,23495.0,24613.5,5.438889,5.767778
22,Portugal,PT,23,25065.0,23252.0,24158.5,15.814444,2.830000
23,Lithuania,LT,24,22245.0,19602.0,20923.5,0.807778,4.231111
24,Slovakia,SK,25,21529.0,19266.0,20397.5,7.062222,6.003333
25,Greece,GR,26,19673.0,19583.0,19628.0,20.520000,2.926667
26,Latvia,LV,27,19824.0,17829.0,18826.5,0.097778,3.028889
27,Hungary,HU,28,18075.0,16732.0,17403.5,8.467778,3.692222
28,Poland,PL,29,18109.0,15693.0,16901.0,2.974444,3.487778
29,Romania,RO,30,14968.0,16222.0,15595.0,8.941111,3.031111
30,Croatia,HR,31,16247.0,14936.0,15591.5,11.020000,4.743333
31,Russia,RU,32,12074.0,11585.0,11829.5,-1.388889,3.580000
32,Bulgaria,BG,33,11321.0,9828.0,10574.5,8.360000,2.744444
33,Belarus,BY,34,10487.0,9663.0,10075.0,-0.584444,4.250000
34,Kazakhstan,KZ,35,9828.0,9731.0,9779.5,3.636667,2.666667
35,Montenegro,ME,36,9545.0,8909.0,9227.0,11.168889,0.683333
36,Turkey,TR,37,9407.0,8536.0,8971.5,9.707778,0.707778
37,Serbia,RS,38,8748.0,7412.0,8080.0,9.511111,3.142222
38,Bosnia and Herzegovina,BA,39,7041.0,6108.0,6574.5,9.174444,3.314444
39,North Macedonia,MK,40,6657.0,6022.0,6339.5,9.153333,0.682222
40,Albania,AL,41,6285.0,5353.0,5819.0,14.490000,3.486667
41,Armenia,AM,42,4692.0,4670.0,4681.0,11.486667,2.876667
42,Georgia,GE,43,5014.0,4279.0,4646.5,13.840000,10.863333
43,Kosovo,RS,44,4401.0,4418.0,4409.5,9.511111,3.142222
44,Ukraine,UA,45,4164.0,3659.0,3911.5,3.773333,1.224444
45,Moldova,MD,46,3096.0,4504.0,3800.0,5.981111,3.373333

In [ ]:
df_c = pd.read_csv("4-final-geolocation-data.csv")
df_c

In [24]:
df_weather["Country"].isin(df_c["Country"])

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17     True
18    False
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34    False
35     True
36    False
37     True
38     True
39     True
40     True
41    False
42    False
43     True
44     True
45     True
Name: Country, dtype: bool