### Load and Inspect the Datasets

In [65]:
# Load AirQuality, Weather-GDP, and Geolocation data from the CSV files

import pandas as pd

df_airquality = pd.read_csv("AirQuality_RenewableEnergy_data.csv")

df_weather = pd.read_csv("weather_gdp_data.csv")

df_geo = pd.read_csv("4-final-geolocation-data.csv")

In [66]:
print(df_airquality.shape)

df_airquality.head(2)

(52, 22)

,Year,Country,Population,Populated Area [km2],Air Pollution Average [ug/m3] NO2,Air Pollution Average [ug/m3] O3,Air Pollution Average [ug/m3] PM10,Air Pollution Average [ug/m3] PM2.5,Annual AQI NO2,Annual AQI O3,...,Premature Deaths NO2,Premature Deaths O3,Premature Deaths PM10,Premature Deaths PM2.5,Years Of Life Lost NO2,Years Of Life Lost O3,Years Of Life Lost PM10,Years Of Life Lost PM2.5,RenewableData,Average Renewable Data
0,2018,Austria,8822183,43050,9.5,7867.9,15.4,11.2,8.96,0.0,...,1228.0,619.0,8799.34,5001.0,12796.0,6756.0,97366.28,52145.0,338,337.0
1,2018,Croatia,4105440,23884,6.4,6583.1,18.6,13.0,6.04,0.0,...,462.0,369.0,8799.34,4696.0,4778.0,3945.0,97366.28,48568.0,280,282.5

In [67]:
print(df_weather.shape)
df_weather.head(2)

(46, 6)

       Country Country Code  New Rank  Mean GDP  Temperature  Wind Speed
0   Luxembourg           LU         1  126738.5     6.138889    3.886667
1  Switzerland           CH         2   88345.0     6.074444    3.655556

In [68]:
print(df_geo.shape)

df_geo.head(2)

(46, 3)

   Country                   coordinates  elevation
0  Belarus   53.5318804783, 28.033566395      170.0
1  Germany  51.1063634863, 10.3814938434      263.0

### Merge the Datasets

#### Merge weather and geolocation datasets

In [69]:
df_geo_weather = pd.merge(df_geo, df_weather, on="Country", how="left")

In [70]:
df_geo_weather.shape

df_geo_weather.head(2)

,Country,coordinates,elevation,Country Code,New Rank,Mean GDP,Temperature,Wind Speed
0,Belarus,"53.5318804783, 28.033566395",170.0,BY,34.0,10075.0,-0.584444,4.25
1,Germany,"51.1063634863, 10.3814938434",263.0,DE,12.0,50216.5,4.611111,5.89

#### Final Merge df_airquality and df_geo_weather

In [79]:
df_airquality_geo_weather = pd.merge(
    df_airquality, df_geo_weather, on="Country", how="left")

In [80]:
print(df_airquality_geo_weather.shape)

df_airquality_geo_weather.head(2)

(52, 29)

,Year,Country,Population,Populated Area [km2],Air Pollution Average [ug/m3] NO2,Air Pollution Average [ug/m3] O3,Air Pollution Average [ug/m3] PM10,Air Pollution Average [ug/m3] PM2.5,Annual AQI NO2,Annual AQI O3,...,Years Of Life Lost PM2.5,RenewableData,Average Renewable Data,coordinates,elevation,Country Code,New Rank,Mean GDP,Temperature,Wind Speed
0,2018,Austria,8822183,43050,9.5,7867.9,15.4,11.2,8.96,0.0,...,52145.0,338,337.0,"47.5856569205, 14.1306728873",910.0,AT,9.0,54459.5,6.873333,7.740000
1,2018,Croatia,4105440,23884,6.4,6583.1,18.6,13.0,6.04,0.0,...,48568.0,280,282.5,"45.067726168, 16.3985488378",331.0,HR,31.0,15591.5,11.020000,4.743333

In [83]:
# Display rows with missing values
df_airquality_geo_weather[df_airquality_geo_weather.isnull().any(axis=1)]

,Year,Country,Population,Populated Area [km2],Air Pollution Average [ug/m3] NO2,Air Pollution Average [ug/m3] O3,Air Pollution Average [ug/m3] PM10,Air Pollution Average [ug/m3] PM2.5,Annual AQI NO2,Annual AQI O3,...,Years Of Life Lost PM2.5,RenewableData,Average Renewable Data,coordinates,elevation,Country Code,New Rank,Mean GDP,Temperature,Wind Speed
6,2018,European Union,441769203,1793090,7.7,5519.4,16.2,10.6,7.26,0.0,...,3208729.0,180,184.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2019,European Union,441994712,1793090,7.2,5017.3,14.4,9.1,6.79,0.0,...,2570060.0,188,184.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Drop rows with missing values
df_airquality_geo_weather.dropna(inplace=True)

print(df_airquality_geo_weather.shape)

(50, 29)

In [85]:
# Save the merged data to a CSV file
df_airquality_geo_weather.to_csv(
    "Final_AirQuality_Geolocation_weather.csv", index=False)