### Load and Inspect the Datasets

In [1]:
# Load AirQuality, Weather-GDP, and Geolocation data from the CSV files

import pandas as pd

df_airquality = pd.read_csv("AirQuality_RenewableEnergy_data.csv")

df_weather = pd.read_csv("weather_gdp_data.csv")

df_geo = pd.read_csv("4-final-geolocation-data.csv")

In [2]:
print(df_airquality.shape)

df_airquality.head(2)

(77, 22)

,Year,Country,Population,Populated Area [km2],Air Pollution Average [ug/m3] NO2,Air Pollution Average [ug/m3] O3,Air Pollution Average [ug/m3] PM10,Air Pollution Average [ug/m3] PM2.5,Annual AQI NO2,Annual AQI O3,...,Premature Deaths NO2,Premature Deaths O3,Premature Deaths PM10,Premature Deaths PM2.5,Years Of Life Lost NO2,Years Of Life Lost O3,Years Of Life Lost PM10,Years Of Life Lost PM2.5,RenewableData,Average Renewable Data
0,2018,Austria,8822183,43050,9.5,7867.9,15.4,11.2,8.96,0.0,...,1228.0,619.0,8620.4,5001.0,12796.0,6756.0,94656.66,52145.0,33.8,33.70
1,2018,Belgium,11398472,25153,14.1,4803.8,18.5,11.5,13.30,0.0,...,2085.0,508.0,8620.4,5914.0,22293.0,5810.0,94656.66,62914.0,9.4,9.65

In [3]:
print(df_weather.shape)
df_weather.head(2)

(46, 6)

       Country Country Code  New Rank  Mean GDP  Temperature  Wind Speed
0   Luxembourg           LU         1  126738.5     6.138889    3.886667
1  Switzerland           CH         2   88345.0     6.074444    3.655556

In [4]:
print(df_geo.shape)

df_geo.head(2)

(46, 3)

   Country                   coordinates  elevation
0  Belarus   53.5318804783, 28.033566395      170.0
1  Germany  51.1063634863, 10.3814938434      263.0

### Merge the Datasets

#### Merge weather and geolocation datasets

In [5]:
df_geo_weather = pd.merge(df_geo, df_weather, on="Country", how="left")

In [6]:
df_geo_weather.shape

df_geo_weather.head(2)

,Country,coordinates,elevation,Country Code,New Rank,Mean GDP,Temperature,Wind Speed
0,Belarus,"53.5318804783, 28.033566395",170.0,BY,34.0,10075.0,-0.584444,4.25
1,Germany,"51.1063634863, 10.3814938434",263.0,DE,12.0,50216.5,4.611111,5.89

#### Final Merge df_airquality and df_geo_weather

In [7]:
df_airquality_geo_weather = pd.merge(
    df_airquality, df_geo_weather, on="Country", how="left"
)

In [8]:
print(df_airquality_geo_weather.shape)

print(df_airquality_geo_weather.head(2))

(77, 29)
   Year  Country  Population  Populated Area [km2]  \
0  2018  Austria     8822183                 43050
1  2018  Belgium    11398472                 25153

   Air Pollution Average [ug/m3] NO2  Air Pollution Average [ug/m3] O3  \
0                                9.5                            7867.9
1                               14.1                            4803.8

   Air Pollution Average [ug/m3] PM10  Air Pollution Average [ug/m3] PM2.5  \
0                                15.4                                 11.2
1                                18.5                                 11.5

   Annual AQI NO2  Annual AQI O3  ...  Years Of Life Lost PM2.5  \
0            8.96            0.0  ...                   52145.0
1           13.30            0.0  ...                   62914.0

   RenewableData  Average Renewable Data                   coordinates  \
0           33.8                   33.70  47.5856569205, 14.1306728873
1            9.4                    9.65  50.6374616353, 4.63996050767

   elevation  Country Code  New Rank  Mean GDP  Temperature  Wind Speed
0      910.0            AT       9.0   54459.5     6.873333    7.740000
1      181.0            BE      13.0   48262.0     6.786667    2.286667

[2 rows x 29 columns]

In [9]:
# Display rows with missing values
df_airquality_geo_weather[df_airquality_geo_weather.isnull().any(axis=1)]

,Year,Country,Population,Populated Area [km2],Air Pollution Average [ug/m3] NO2,Air Pollution Average [ug/m3] O3,Air Pollution Average [ug/m3] PM10,Air Pollution Average [ug/m3] PM2.5,Annual AQI NO2,Annual AQI O3,...,Years Of Life Lost PM2.5,RenewableData,Average Renewable Data,coordinates,elevation,Country Code,New Rank,Mean GDP,Temperature,Wind Speed
15,2018,European Union,441769203,1793090,7.7,5519.4,16.2,10.6,7.26,0.0,...,3208729.0,18.0,18.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2018,Slovenia,2066847,13251,NaN,NaN,17.8,13.1,NaN,NaN,...,17067.0,21.0,21.35,"46.1161109843, 14.8080896248",492.0,SI,20.0,27025.0,9.851111,2.801111
54,2019,European Union,441994712,1793090,7.2,5017.3,14.4,9.1,6.79,0.0,...,2570060.0,18.8,18.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Drop rows with missing values
df_airquality_geo_weather.dropna(inplace=True)

print(df_airquality_geo_weather.shape)

(74, 29)

In [11]:
# Save the merged data to a CSV file
df_airquality_geo_weather.to_csv(
    "Final_AirQuality_Geolocation_weather.csv", index=False
)